
.card {
  padding: 2em;
}
#root {
 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  background-image: url("https://media.istockphoto.com/id/1206786604/photo/movie-clapper-board-with-film-strip-on-black-background.jpg?s=170667a&w=0&k=20&c=YP8pVN-qS_hjNg0dShDfv_uR0zda1LZz4ILqe8yaU74=");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
